# Integrated Dev Env files
.idea
.DS_Store

# Logs
*.log

# Runtime data
*.lock
*.pid

# Grunt intermediate storage
.grunt

# Npm cache directory
.npm

# Dependency directories
node_modules

# Run-time test reports
reports

# DO NOT PUSH
*.json